:root {
    --padding: 5px;
    --gap: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.menu {
    cursor: pointer;
    padding: 5px 10px;
}

.video-transition {
    transition: opacity 1s ease-in-out;
}

.video-hidden {
    opacity: 0;
}

.video-visible {
    opacity: 1;
}

.active-menu {
    font-weight: bold;
}

#menuIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
    background-color: pink;
    border-radius: 7px;
}

#menuIcon:hover {
    height: 35px;
    transition: height 1s cubic-bezier(0, 2.42, 1, 2.04);
}

nav {
    position: fixed;
    top: 60px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    gap: var(--gap);
    padding: var(--padding);
    background-color: black;
}

.background img,
video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}


.slide {
    object-fit: fill;
    overflow: hidden;
}

.hidden {
    display: none;
}




@media (orientation: portrait) {
    .background {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .background img:not(:first-child) {
        display: none;
    }

    .background video:not(:first-child) {
        display: none;
    }
}

.x,
.y,
.z {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.a,
.b,
.c {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}